$font-color-default: #3f3f3f;
$font-color-active: #000;
$font-color-light: #808080;
$font-color-reversal:#fff;
$font-color-link: #007acc;
$font-color-link-dark :#075386;

$bg-color-body: #f0f0f0;
$bg-color-default: #fff;
$block-bg-color: #f7f7f7;

$button-bg-color: #f7f7f7;
$button-activate-bg-color: #07c160;
// 分割线
$splitline-color: #e2e2e2;
// 警告
$color-warning:#e24033;
$warning-bg-color: #000;
// 喜欢
$like-color:#f8312f;

// 默认宽度
$default-width: 3.9rem;
// PC端默认宽度
$pc-default-width: 5.6rem;


